:root {
  --linen: #E9DCC9;
  --wool: #a1abab;
  --silk: #e78fc1;

  --textDark: #1d1d1d;
  --textLight: #fafafa;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  width:100%;
  font-family: 'Lexend', sans-serif;
}

nav {
  margin-bottom:30px;
  .nav-inner {
    display:flex;
    .button-wrapper {
      display:flex;
      gap:15px;
      margin-left:auto;
    }
  }
}

button {
  cursor:pointer;
}

.choose-cloth-type {
  display:flex;
  gap:20px;
  .cloth-types {
    min-width:150px;
  }
  .cloth-type-label {
    padding-left:10px;
  }
  .cloth-count-label,
  .bag-count-label {
    padding-right:10px;
  }
  input.count {
    max-width:50px;
    text-align: center;
  }
}

.count {
  color:#3EB489;
}


/* old */

.bag-calc {
  margin:0 auto;
  max-width: 860px;
  width:100%;

  display: flex;
  place-items: center;
  min-height: 80vh;

  &-inner {
    width:100%;
  }
}

// .choose-cloth-type {
//   display:flex;
//   gap:15px;
//   justify-content:center;
//   .cloth-types {
//     display:flex;
//     gap:10px;
//   }
// }

.calc-container {
  align-items:center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media screen and (min-width:768px){
    display:flex;
  }
  
  .results{
    display:flex;
    + .results {
      margin-top:12px;
    }
  }
}

.calculator {
  border: thin solid #fafafa;
  max-width:350px;
  padding:20px;
  width:100%;

  display:flex;
  flex-direction:column;
  gap:10px;

  margin:0 auto;

  &.linen {
    border-color:var(--linen);
  }
  &.wool {
    border-color:var(--wool);
  }
  &.silk {
    border-color:var(--silk);
  }

  button.reset {
    font-size:11px;
    margin-left:auto;
  }

  @media screen and (min-width:768px){
    max-width:50%;
  }

  fieldset {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  input.count {
    max-width:62px;
  }
}

.have-cloth,
.need-cloth {
  .actions {
    align-items: center;
    display:flex;
    gap:10px;

    button, span {
      text-transform: capitalize;
    }

    + .results {
      margin-top:30px;
    }
  }
}
.cloth-count, .bag-count {
  font-size:12px;
}

.have-cloth {
  color: var(--textDark);
  &.linen {
    background-color:var(--linen);
  }
  &.wool {
    background-color:var(--wool);
  }
  &.silk {
    background-color:var(--silk);
  }
}

.mats {
  color:#fafafa;
  font-size:12px;
  padding:10px 20px;
  border: thin solid #fafafa;
  max-width:350px;
  margin: 20px auto;
  text-transform:capitalize;

  display:flex;
  flex-direction: column;
  gap:6px;
  justify-content: space-between;

  @media screen and (min-width:768px){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px 0;
    max-width:100%;
  }
  &.linen {
    border-color:var(--linen);
  }
  &.wool {
    border-color:var(--wool);
  }
  &.silk {
    border-color:var(--silk);
  }
}
.value {
  text-decoration:underline;
  text-decoration-style:dotted;
  margin-left: auto;
}
.results.many {
  justify-content: space-between;
  .value {
    margin-left: unset;
  }
  + .results.leather {
    margin-top:0;
  }
}

.subheading {
  font-style:italic;
}

.desktop-only {
  display:none;
}
@media screen and (min-width:865px){
  .desktop-only {
    display:initial;
  }
}