:root {
  --gem5:#165a4c;
  --gem4:#239063;
  --gem3:#1ebc73;
  --gem2:#91db69;
  --gem1:#cddf6c;

  --pinkgem5:#c32454;
  --pinkgem4: #f04f78;
  --pinkgem3:#f68181;
  --pinkgem2:#fca790;
  --pinkgem1: #fdcbb0;

  --bluegem5: #323353;
  --bluegem4:#484a77;
  --bluegem3: #4d65b4;
  --bluegem2:#4d9be6;
  --bluegem1: #8fd3ff;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#165a4c+0,1ebc73+100 */
  --gradientGreen: linear-gradient(45deg,  
  var(--gem5) 0%, 
  var(--gem4) 25%, 
  var(--gem3) 50%, 
  var(--gem2) 75%, 
  var(--gem1) 100%);

  --gradientPink45: linear-gradient(45deg,  
  var(--pinkgem5) 0%, 
  var(--pinkgem4) 25%, 
  var(--pinkgem3) 50%, 
  var(--pinkgem2) 75%, 
  var(--pinkgem1) 100%);
  
  --gradientPink: linear-gradient(45deg,  
  var(--pinkgem5) 0%, 
  var(--pinkgem4) 25%, 
  var(--pinkgem3) 50%, 
  var(--pinkgem2) 75%, 
  var(--pinkgem1) 100%);

  --gradientBlue: linear-gradient(0deg,  
  var(--bluegem5) 0%, 
  var(--bluegem4) 25%, 
  var(--bluegem3) 50%, 
  var(--bluegem2) 75%, 
  var(--bluegem1) 100%);
}

#root {
  max-width: 860px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  width:100%;
}

.gradient-bar {
  height:3px;
  margin-bottom:10px;
  background: var(--gradientPink45);
}

.heading {
  font-family: 'Potta One', sans-serif;
}

nav {
  margin-bottom:30px;
}

.player-input {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
  @media screen and (min-width:768px){
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
  }
  
  .results{
    display:flex;
    + .results {
      margin-top:12px;
    }
  }
}
.mats-calc {
  margin: 0 auto;
  max-width:350px;
  padding:10px 20px;
  width:100%;

  button {
    // background: var(--gradientPink);
    background:var(--pinkgem3);
    border: 2px solid transparent;
    border-bottom-color:var(--pinkgem5);
    border-top-color:var(--pinkgem1);
    border-left-color: var(--pinkgem2);
    border-right-color: var(--pinkgem3);
    border-radius: 4px;
    // border: none;
    color:black;
    cursor:pointer;
    font-size:12px;
    margin:10px 0;
    padding:8px 16px;
    // transition: .3s all ease-in-out;

    &:hover {
      // border-bottom-color:var(--pinkgem1);
      // border-top-color:var(--pinkgem5);
      filter:grayscale(50%);
    }

    &.reset {
      background:var(--gem3);
      border-bottom-color:var(--gem5);
      border-top-color:var(--gem1);
      border-left-color: var(--gem2);
      border-right-color: var(--gem3);
    }
  }

  @media screen and (min-width:768px){
    max-width:50%;
    padding: 10px 30px 10px 0;
  }
}

.have-cloth,
.need-cloth {
  .actions {
    align-items: center;
    display:flex;
    gap:10px;
  }
}
.cloth-count, .bag-count {
  font-size:12px;
}

.mats {
  color:#fafafa;
  font-size:12px;
  padding:10px 20px;
  border: thin solid #fafafa;
  max-width:350px;
  margin: 20px auto;

  display:flex;
  flex-direction: column;
  gap:6px;
  justify-content: space-between;

  @media screen and (min-width:768px){
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px 0;
    max-width:100%;
  }
}
.value {
  text-decoration:underline;
  text-decoration-style:dotted;

  margin-left: auto;
  &.vendor {
    color: silver;
  }
}
.results.many {
  justify-content: space-between;
  .value {
    margin-left: unset;
  }
}

.subheading {
  font-style:italic;
}

.desktop-only {
  display:none;
}
@media screen and (min-width:865px){
  .desktop-only {
    display:initial;
  }
}

// .modeToggle {
//   fieldset {
//     border: none;
//     display:flex;
//     justify-content: space-between;
//     margin:0;
//     padding-left:0;
//     padding-right:0;
//   }
//   input {
//     margin: 0.4rem 0.4rem 0.4rem 0;
//   }
// }